<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p><%= link_to 'Home page', root_path %></p>
  <p><%= link_to 'View articles', articles_path %></p>
  <p><%= link_to 'Create new article', new_article_path %></p>
  <p><%= link_to 'About page', about_path %></p>
    <% flash.each do |name, msg| %>
    <ul>
      <li><%= msg %></li>
    </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
